@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
html{
    scroll-behavior: smooth;
}
img {
    width: 600px;
}
body{
    text-align: center;
    margin: auto;
    display: block;
    font-family: 'Rye', serif;
    background-color: gray;
}
.feher{
    background-color: #E6D3A3;
    color: #3B2F2F;
}
.fekete{
    background-color: #2B1E16;
    color: #F5E6C8;
}
nav{
    background-color: #2B1E16;
    color: #F5E6C8;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
}
a{
    font-style: normal;
    text-decoration: none;
    transition: background-color 0.5s,color 0.5s,border-radius 0.5s;
    color: #F5E6C8;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover{
    background-color: #E6D3A3;
    color: #3B2F2F;
    transition: background-color 0.5s,color 0.5s,border-radius 0.5s;
    border-radius: 20px; 
    padding-left: 10px;
    padding-right: 10px;
}
div{
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
img{
    border-radius: 20px;
}
div img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
}
.feher > a{
    transition: background-color 0.5s,color 0.5s;
    color: gray;
    border-radius: 10px;
}
.feher > a:hover{
    transition: background-color 0.5s,color 0.5s;
    color: white;
    background-color: #2B1E16;
    border-radius: 10px;
}